p.solid {
    border-style: solid;
    border-radius: 10px;
    /* background-color: aqua; */
    border-left-width: 1em;
    width: 5cm;
    border-style: dotted;
    border-left: none;
    border-right: none;



}
